.docs-1{
    margin-top: 5%;
    margin-left: 22%;
    margin-right: 22%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .docs-1{
      margin-top: 50%;
      margin-left: 10px;
      margin-right: 10px;
    }
    .sidebar{
        display: none;
    }

    .nav a{
        float: none;
    }
}

.Ccode{
   color: crimson;
   background-color: #f1f1f1;
   padding: 2px;
   font-size: 105%;
}

.Ccode:after{
   content: '\003E';
}

.Ccode:before{
   content: '\003C';
}

.CHTML{
    color: rgb(63, 63, 63);
}

.CHTML:after{
   content: '\003E';
}

.CHTML:before{
   content: '\003C';
}

.dt{
    padding: 5px;
   font-size: 100%;
    color: #000000;
    background-color: #ffa3a370;
    border-radius: 6px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
}
  .sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  }
  .w-nav1{
    position: fixed; top: 0; width: 100%;
  }
  .w-nav2{
    display: table; margin-left: auto; margin-right: 3%;
}