/*

* Videt CSS V0.2.0 - text
* web - videt.xyz
* docs - videt.xyz/docs
* Copyright 2021, LEE minjun and videt
* Free to use under the MIT license.


key information
––––––––––––––––––––––––––––––––––––––––––––––––––
LICENSE 
> MIT License

developer : LEE minjun(https://github.com/devkr-potato)

last modified
> 07/24/2021
––––––––––––––––––––––––––––––––––––––––––––––––––


support
––––––––––––––––––––––––––––––––––––––––––––––––––
> Maintaining and developing our project requires adequate finance.
However, since we are MIT-licensed open source and completely free,
the project cannot be maintained without a sponsor. Become a Backer
or Sponsor for Project Maintenance and Development!

patreon : https://www.patreon.com/leeminjun
open collective : https://opencollective.com/webvidet
––––––––––––––––––––––––––––––––––––––––––––––––––


Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- button
- nav
- background
- text
- hover
- borde
- position
- box
- document
- scroll bar
- progress Bar
- card
- Table
- img
- Tool tip
- container , grid
––––––––––––––––––––––––––––––––––––––––––––––––––

*/

body{
	margin: 0;
}

/* button */
.btn {
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

.btn-angled{
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

.btn-round{
    border-radius:10px;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}


.btn-border{
    background-color: unset;
    border-radius:28px;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}


.btn-border-angled{
    background-color: unset;
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}


.btn-border-round{
    background-color: unset;
    border-radius:10px;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}


/* menu , navs */

 .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }
  .nav-center {
    display: table; margin-left: auto; margin-right: auto;
  }

  .nav {
    overflow: hidden;
    padding: 5px 20px;
  }
  .nav a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .nav a.name {
    font-size: 25px;
    font-weight: bold;
  }
  @media screen and (max-width: 500px) {

    .nav a.name {
        display: inline;
        display: block;
    }
  
    .nav a {
      float: none;
      display: block;
      text-align: left;
    }
    .nav-right {
      float: none;
    }
    .nav-left {
        float: none;
      }
   }


/* background */
.bg {
	background-color:#007bff;
	border:1px solid #007bff;
}

.bg-blue{
	background-color:#0000ff;
	border:1px solid #0000ff;
}

.bg-white {
	background-color:#ffffff;
	border:1px solid #ffffff;
}

.bg-black{
	background-color:#000000;
	border:1px solid #000000;
}

.bg-dark{
	background-color:#161616;
	border:1px solid #161616;
}

.bg-gray {
	background-color:#3C3C3C;
    border:1px solid #3C3C3C;
}

.bg-green {
	background-color:#0CDA17;
    border:1px solid #0CDA17;
}

.bg-red {
	background-color:#EB2A0C;
    border:1px solid #EB2A0C;
}

.bg-pink {
    background-color:#F06FEC;
    border:1px solid #F06FEC;
}

.bg-yellow {
    background-color:#FFFF00;
    border:1px solid #FFFF00;
}

.bg-aqua {
	background-color:#0099a4;
	border:1px solid #0099a4;
}

.bg-smoke {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
}

.bg-sky {
    background-color: #8ec1e9;
    border: 1px solid #8ec1e9;
}

.bg-purple {
    background-color: #684d77;
    border: 1px solid #684d77;
}

 
/* text */

.text-color {
	color:#007bff;
}

.text-color-blue{
	color:#0000ff;
}

.text-color-white {
	color:#ffffff;
}

.text-color-black {
	color:#000000;
}

.text-color-dark {
    color:#161616;
}

.text-color-gray {
	color:#3C3C3C;
}

.text-color-green {
	color:#0CDA17;
}

.text-color-red {
	color:#EB2A0C;
}

.text-color-pink {
    color:#F06FEC;
}

.text-color-yellow {
	color:#FFFF00;
}

.text-color-aqua {
	color: #0099a4;
}

.text-color-smoke{
    color: #f5f5f5;
}

.text-color-sky {
    color: #8ec1e9;
}

.text-color-purple {
    color: #684d77;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capit {
    text-transform: capitalize;
}

.text-line-top {
    text-decoration: overline;
}

.text-line-center {
    text-decoration: line-through;
}

.text-line-bottom {
    text-decoration: underline;
}

.text-line-none {
    text-decoration: none;
}

.text-overflow{
	white-space: nowrap; 
		overflow: hidden; 
	   text-overflow: ellipsis;
}
.text-slant{
    font-style: italic;
}
.text-italic{
    font-style: italic;
}
.text-bolder{
    font-weight: bolder;
}

.text-bold{
    font-weight: bold;
}

.text-normal{
    font-weight: normal;
}

.text-lighter{
    font-weight: lighter;
}

.text-italic-bold{
    font-style: italic;
    font-weight: bold;
}

.text-slant-bold{
    font-style: italic;
    font-weight: bold;
}
/* hover */
/*
NOTE
> 07/24/2021 - A hover border has been added : add
*/
.hover-bg:hover{
    background-color:#549fee;
    border:1px solid #549fee;
}
.hover-bg-blue:hover{
    background-color:#4d4dff;
    border:1px solid #4d4dff;
}
.hover-bg-white:hover{
    background-color:rgb(221, 221, 221);
    border:1px solid rgb(221, 221, 221);
}

.hover-bg-black:hover{
    background-color:#1d1d1d;
    border:1px solid #1d1d1d;
}

.hover-bg-dark:hover{
    background-color:#2c2c2c;
    border:1px solid #2c2c2c;
}

.hover-bg-gray:hover{
    background-color:#141414;
    border:1px solid #141414;
}

.hover-bg-green:hover{
    background-color:#00ff0d;
    border:1px solid #00ff0d;
}

.hover-bg-red:hover{
    background-color:#ff0000;
    border:1px solid #ff0000;
}

.hover-bg-pink:hover{
    background-color:#d400ff;
    border:1px solid #d400ff;
}

.hover-bg-yellow:hover{
    background-color:#ffd900;
    border:1px solid #ffd900;
}

.hover-bg-aqua:hover{
    background-color:#05d5e4;
    border:1px solid #05d5e4;
}

.hover-bg-smoke:hover{
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
}

.hover-bg-sky:hover{
    background-color: #97c0e0;
    border: 1px solid #97c0e0;
}

.hover-bg-purple:hover{
    background-color: #675173;
    border: 1px solid #675173;
}

.hover-border:hover {
    border: 1px solid #549fee;
}
.hover-border-blue:hover {
    border: 1px solid #4d4dff;
}
.hover-border-white:hover {
 border: 1px solid rgb(221, 221, 221);
}
.hover-border-black:hover {
 border: 1px solid #1d1d1d;
}
.hover-border-dark:hover {
 border: 1px solid #2c2c2c;
}
.hover-border-gray:hover {
 border: 1px solid #141414;
}
.hover-border-green:hover {
 border: 1px solid #00ff0d;
}
.hover-border-red:hover {
 border: 1px solid #ff0000;
}
.hover-border-pink:hover {
 border: 1px solid #d400ff;
}
.hover-border-yellow:hover {
 border: 1px solid #ffd900;
}
.hover-border-aqua:hover {
 border: 1px solid #05d5e4;
}
.hover-border-smoke:hover{
    border: solid #e9e9e9;
}

.hover-border-sky:hover{
    border: solid #97c0e0;
}

.hover-border-purple:hover{
    border: solid #675173;
}

.hover-text:hover{
    color:#549fee;
}

.hover-text-blue:hover{
    color:#4d4dff;
}

.hover-text-white:hover{
    color:rgb(221, 221, 221);
}

.hover-text-black:hover{
    color:#1d1d1d;
}

.hover-text-dark:hover{
    color:#2c2c2c;
}

.hover-text-gray:hover{
    color:#141414;
}

.hover-text-green:hover{
    color:#00ff0d;
}

.hover-text-red:hover{
    color:#ff0000;
}

.hover-text-pink:hover{
    color:#ff0000;
}

.hover-text-yellow:hover{
    color:#ffd900;
}

.hover-text-aqua:hover{
    color:#05d5e4;
}

.hover-text-smoke:hover{
    color: #e9e9e9;
}

.hover-text-sky:hover{
    color: #97c0e0;
}

.hover-text-purple:hover{
    color: #675173;
}


/* borde */
.border {
    border: 1px solid #007bff;
}

.border-blue {
    border: 1px solid #0000ff;
}
.border-white {
 border: 1px solid #ffffff;
}
.border-black {
 border: 1px solid #000000;
}
.border-dark {
 border: 1px solid #161616;
}
.border-gray {
 border: 1px solid #3C3C3C;
}
.border-green {
 border: 1px solid #0CDA17;
}
.border-red {
 border: 1px solid #EB2A0C;
}
.border-pink {
 border: 1px solid #F06FEC;
}
.border-yellow {
 border: 1px solid #FFFF00;
}
.border-aqua {
 border: 1px solid #0099a4;
}
.border-smoke {
    border: 1px solid #f5f5f5;
}
.border-sky {
    border: 1px solid #8ec1e9;
}
.border-purple {
    border: 1px solid #684d77;
}

/* position */

.left{
	display: table; margin-left: 10px;
}


.center{
	display: table; margin-left: auto; margin-right: auto;
}


.right{
	display: table; margin-left: auto; margin-right: 10px;
}

/* box */
.box {
    display: block;
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    padding:15px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

/* document */
/*
NOTE
> 07/24/2021 - block code : fix
*/
.docs{
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.docs h1{
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    border-bottom:2px solid #e2e2e2;
    padding:8px 5px;
    font-size: 32px;
}
.docs h2{
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    border-bottom:2px solid #e2e2e2;
    padding:8px 5px;
    font-size: 24px;
}

.docs h3{
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    color: #24292E;
    font-size: 20px;
}

.docs h4{
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    color: #24292E;
    font-size: 16px;
}

.docs h5{
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;;
    font-size: 14px;
    color: #24292E;
}

.docs h6{
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;;
    font-size: 13.6px;
    color: #6A737D;
}

.docs a{
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 16px;
}

.docs p{
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 16px;
}

.docs hr{
    display: block;
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e2e2e2;
    border: 0px;
}

.docs li{
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 16px;
}

.docs li::before{
    content: '\25FE ';
}

.docs .del{
    display: block;
    text-decoration: line-through;
}

.docs .quote{
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    border-left:4px solid #e2e2e2;
    padding:3px 5px;
    color: rgb(170, 170, 170);
    font-size: 15px;
}

.docs .quote-blue{
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
    border-left:5px solid #2196F3;
    padding:6px 6px;
    background-color:#ddffff
}

.docs .quote-red{
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
    border-left:5px solid #da3737;
    padding:6px 6px;
    background-color:#ffdddd
}

.docs .block-code{
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    font-size: 16px;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    border-radius: 6px;
    background-color: #f1fcff;
    color: #5a5a5a;
}

.docs .block-code .HTML:after{
    content: '\003E';
}

.docs .block-code .HTML:before{
    content: '\003C';
}

.docs .code{
    font-weight: bolder;
    padding: 2.72px 5.44px;
    margin: 0;
    font-size: 13.6;
    color: #24292E;
    background-color: #1B1F230D;
    border-radius: 6px;
    font-size: 12px;
}

.docs .tag-red{
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bolder;
    padding: 4px 7px;
    font-size: 13px;
    color: #24292E;
    background-color: #ff9595e1;
    border-radius: 6px;
}

.docs .tag-blue{
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bolder;
    padding: 4px 7px;
    font-size: 13px;
    color: #24292E;
    background-color: #2195f3a1;
    border-radius: 6px;
}

.docs .ic{
    font-style: italic;
}

.docs .br{
    font-weight: bolder;
}

.docs .ib{
    font-style: italic;
    font-weight: bolder;
}

.docs .title{
    font-weight: bolder;
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    padding:8px 5px;
    font-size: 32px;
}

.docs .topic{
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    font-size: 20px;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    border-radius: 6px;
    font-weight: bolder;
}

/* scroll bar */
/*
NOTE
> 07/24/2021 - old scroll bar : del
> 
*/
.scroll-bar-none::-webkit-scrollbar{
    display: none;
}
/* scroll bar - modern */
.scroll-bar-modern::-webkit-scrollbar{
    width: 12px;
}
.scroll-bar-modern::-webkit-scrollbar-thumb{
    border-radius: 50px;
    border-right: 3px solid #fff;
    background-color: #4b4b4b;
}
.scroll-bar-modern::-webkit-scrollbar-thumb:hover{
    background-color: #888888;
    }
.scroll-bar-modern::-webkit-scrollbar-track{
    background-color: #fff;
}

/* progress Bar */
.progress {
    width: 60%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0 auto;
}

.bar {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
}

/*card*/
.card-color {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 330px;
    height: 200px;
    padding-left: 15px; 
    border-radius: 8px;
    display: inline-table;
}

.card-color h1 {
    font-size: 32px;
}

.card-color p {
    font-size: 20px;
    padding-top: 40px;
}

.card-dark {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 550px;
    height: 200px;
    padding: 0 15px;
    border-radius: 10px;
    display: inline-table;
    border: 2px solid #dbdbdb;
}

.card-dark .title {
    line-height: 1px;
    font-size: 25px;
}

.card-dark .subtitle {
    line-height: 1px;
    font-size: 20px;
    color: #6C757D;
}

.card-dark a:link {
    margin-left: 5px;
    display: inline-table;
}

.card-light {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 550px;
    height: 200px;
    padding: 0 15px;
    border-radius: 10px;
    display: inline-table;
    border: 2px solid #d8d8d8;
}

.card-light .title {
    line-height: 1px;
    font-size: 25px;
    color: #ffffff;
}

.card-light .subtitle {
    line-height: 1px;
    font-size: 20px;
    color: #a7a7a7;
}

.card-light p{
    color: white;
}

.card-light a{
    color: white;
}

.card-light a:link {
    color: rgb(148, 221, 255);
    margin-left: 5px;
    display: inline-table;
}

  /* Table */
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #e2e2e2;
  }

/* img */
.img-opac-10{
    opacity: 1;
}
.img-opac-9{
    opacity: 0.9;
}
.img-opac-8{
    opacity: 0.8;
}
.img-opac-7{
    opacity: 0.7;
}
.img-opac-6{
    opacity: 0.6;
}
.img-opac-5{
    opacity: 0.5;
}
.img-opac-4{
    opacity: 0.4;
}
.img-opac-3{
    opacity: 0.3;
}
.img-opac-2{
    opacity: 0.2;
}
.img-opac-1{
    opacity: 0.1;
}

/* Tool tip*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

/* container , grid */
.container{
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 10vh;
    margin-right: 10vh;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width : 480px) {
    .container{
      margin-top: 32px;
      margin-bottom: 32px;
      margin-left: 7px;
      margin-right: 7px;
    }
  }